[access]
	inheritFrom = All-Projects
[project]
	description = Udacity traffic sign classification
[access "refs/*"]
	owner = group user/lausankar
[access "refs/for/refs/*"]
	read = group user/lausankar
	push = group user/lausankar
	label-Code-Review = -2..+2 group user/lausankar
	label-Verified = -1..+1 group user/lausankar
	rebase = group user/lausankar
	removeReviewer = group user/lausankar
	submit = group user/lausankar
[access "refs/heads/*"]
	read = group user/lausankar
	create = group user/lausankar
	push = +force group user/lausankar
	pushMerge = group user/lausankar
[access "refs/tags/*"]
	push = group user/lausankar
	push = +force group user/lausankar
